
form {
    display: flex;
 
    margin-bottom: 20px;
    gap:4px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  input {
    width:12rem;
    height:1rem;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  

form button{
  height: 35px;
}

@media only screen and (max-width: 700px) {
 form{
  display: block;
 }
 


}