.page-container{
    display: flex;
}

.avatar-container{
    width:150px;
    height:150px;
}
.profile-container{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid gainsboro;
    border-radius: 1rem;
    padding: 10px;
}

.content-container{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
   
}

.dummy-btn {
    background-color: azure;
    color: blue;
}